<div class="home-container">
		<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'night-sky.jpg'%>)">
	  <h1 class='text-left ml-3 mr-5'>Lucille H. James</h1>
	  <h3 class='text-left ml-3 mr-5'>Fullstack developer & writer</h3>
	</div>
</div>
